* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}


.liquidation-page1,
.liquidation-page2,
.liquidation-page3 {
    padding: 180px 80px;
}

.liquidation {
    &__wrapper {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;


    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid red;
    }

    &-page1 {

        display: grid;
        grid-template-columns: minmax(300px, 580px) minmax(300px, 472px);
        justify-content: space-evenly;
        gap: 20px;

        background-color: #001339;
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-style: normal;
        width: 100%;

        &-text {

            display: flex;
            flex-direction: column;
            gap: 25px;

            &-title {

                font-weight: 600;
                font-size: 30px;
                line-height: 37px;
                text-transform: uppercase;


            }

            &-subtitle {
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
            }
        }

        &-form {
            background-color: #FCB900;

            height: 242px;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;

            &-text {
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                padding: 0 15px;
                color: #081B54;
            }

            &-btn {
                background-color: #081B54;
                color: #ffff;
                outline: none;
                font-weight: 600;
                font-size: 22px;
                line-height: 27px;
                text-transform: uppercase;
                color: #FFFFFF;
                padding: 10px 20px;
                border: 0;
                cursor: pointer;
            }
        }
    }

    &-page2 {
        width: 100%;

        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        gap: 40px 20px;
        grid-template-areas:
            "title title"
            "list1 list2"
            "list3 list3";
        background-color: #ffffff;

        font-family: 'Montserrat';
        font-style: normal;

        &-title {
            grid-area: title;
            display: flex;
            justify-content: center;

            & h4 {
                font-weight: 600;
                font-size: 30px;
                line-height: 37px;
                text-align: center;
                text-transform: uppercase;
                max-width: 600px;
                color: #081B54;
            }
        }

        &-list1 {
            grid-area: list1;


            & li {
                font-weight: 500;
                font-family: 'Montserrat';
                font-size: 22px;
                line-height: 30px;
                text-transform: uppercase;
                color: #081B54;
                text-decoration-color: #081B54;
            }
        }

        &-list2 {
            grid-area: list2;
            font-weight: 500;
            font-size: 22px;
            line-height: 27px;

            color: #082654;
        }

        &-list3 {
            grid-area: list3;
            background: rgba(142, 209, 252, 0.17);
            border-radius: 25px;
            padding: 100px 20px;
            width: 100%;
            margin-top: 40px;

            &-title {
                text-align: center;
                color: #001339;
                font-weight: 500;
                font-size: 30px;
                line-height: 37px;
                text-align: center;
                text-transform: uppercase;
            }

            &-list {
                margin-top: 40px;

                & li {
                    font-weight: 500;
                    font-family: 'Montserrat';
                    font-size: 22px;
                    line-height: 30px;
                    text-transform: uppercase;
                    color: #081B54;
                    text-decoration-color: #081B54;
                }
            }
        }
    }

    &-page3 {
        background-color: #001339;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding: 80px;
        color: #FFFFFF;
        height: max-content;

        &-title {
            text-align: center;
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            text-align: center;
            text-transform: uppercase;
        }

        &-slider {
            display: grid;
            grid-template-columns: minmax(350px,500px) minmax(400px,600px);
            justify-content: space-evenly;
            gap: 20px;

            &-text {
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
            }

            &-scroll {
                display: flex;
                justify-content: flex-start;
                gap: 40px;
                min-height: 312px;

                & p {
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 27px;
                }

                & img {
                    width: 15px;
                    height: 15px;
                    margin-top: 40px;
                }
                &-title{
                    display: none;
                }
            }
        }



    }
    &-page4{
        padding: 80px ;
        display: flex;
        flex-wrap: wrap;
        gap:40px;
        justify-content: center;
        align-items: center;
        &-box{
            width: 270px;
            height: 170px;
            background: rgba(252, 185, 0, 0.8);
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            & p{
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
                text-transform: uppercase;
                padding: 40px;
                color: #081B54;
                padding: 20px;
                    text-align: center;
            }
        }
    }
    &-page5{
        padding: 80px;
        &-title{
            text-align: center;
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            text-align: center;
            text-transform: uppercase;
        }
        &-images{
            padding-top: 80px;
            display: grid;
         
            gap:20px;
            justify-content: center;
            grid-template-columns:  minmax(150px,400px) minmax(300px,700px) minmax(150px,400px) ;
          
            align-items: center;
            & img{
                width: 100%;
            }
        }
    }
}


@media (max-width:800px) {
    .liquidation {
        &-page1 {
            padding: 180px 20px;
            
            grid-template-columns: repeat(auto-fill, 300px);
            justify-content: center;

            &-text {
                &-title {
                    font-size: 25px;
                    line-height: 34px;
                    text-align: center;
                }

                &-subtitle {
                    text-align: center;
                }
            }

            &-form {
                &-btn {
                    font-size: 17px;
                }
            }
        }

        &-page2 {
            grid-template-areas:
                "title title"
                "list1 list1"
                "list2 list2"
                "list3 list3";
            padding: 80px 20px;
            gap: 20px;

            &-title h4 {
                font-size: 25px;
                line-height: 34px
            }

            &-list2,
            &-list3-title {
                font-size: 20px;
                line-height: 29px;

            }

            &-list1 li,
            &-list3-list li {
                font-size: 15px;
                line-height: 29px;
            }

            &-list3 {
                padding: 40px 20px;

                &-list {
                    margin-top: 15px;
                }
            }
        }

        &-page3 {
            padding: 80px 20px;

            &-slider {
                grid-template-columns: repeat(auto-fill, 100%);
                justify-content: center;
               
                gap: 180px;

                &-scroll {
                    margin: 0 auto;
                   
                    gap: 15px;
                    position: relative;
                    display: flex;
                    & p{
                        min-height: 313px;
                    }
                    &-title{
                        display: flex;
                        position: absolute;
                        top:-100px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        & h3{
                            font-weight: 600;
                            font-size: 30px;
                            line-height: 37px;
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }
                  
                }

                &-item {
                    & p {
                        text-align: center;
                        font-size: 17px;
                        line-height: 25px;

                    }
                }
            }
        }
        &-page4{
            &-box{
                & p{
                    font-size: 18px;
                    line-height: 28px;
                    padding: 20px;
                    text-align: center;
                }
            }
        }
        &-page5{
            padding: 80px 20px;
            &-images{
                grid-template-columns: repeat(auto-fill,300px);
                gap:50px;
            }
        }
    }


    #liquidation-slider-left,
    #liquidation-slider-right {
        position: absolute;
        width: 14px;
        top: -127px;
    }

    #liquidation-slider-left {
        left: 40px;
    }

    #liquidation-slider-right {
        right: 40px;
    }



}





.liquidation-page3-slider-close {

    display: none;

}