* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}


@font-face {
    font-family: Montserrat;
    /* Гарнитура шрифта */
    src: url(../../font/Montserrat-Light.otf);
    /* Путь к файлу со шрифтом */
}

.liquidation {
    &__wrapper {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }


    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &-page1 {
        min-height: 424px;
        ;
        display: grid;
        grid-template-columns: minmax(300px, 580px) minmax(300px, 472px);
        justify-content: space-evenly;
        gap: 20px;
        padding: 0 80px;
        ;
        background-image: url('../../images/ликвидация/image\ 8.png');
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-style: normal;
        width: 100%;
        align-items: center;

        &-text {

            display: flex;
            flex-direction: column;
            gap: 25px;
            justify-content: center;

            &-title {

                font-weight: 600;
                font-size: 30px;
                line-height: 37px;
                text-transform: uppercase;


            }

            &-subtitle {
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
            }
        }

        &-form {
            background-color: #FCB900;
            justify-content: center;
            height: 242px;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;

            &-text {
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                padding: 0 15px;
                color: #081B54;
            }

            &-btn {
                background-color: #081B54;
                color: #ffff;
                outline: none;
                font-weight: 600;
                font-size: 22px;
                line-height: 27px;
                text-transform: uppercase;
                color: #FFFFFF;
                padding: 10px 20px;
                border: 0;
                cursor: pointer;
            }
        }
    }

    &-page2 {
        width: 100%;
        padding: 80px;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        gap: 40px;
        grid-template-areas:
            "title title"
            "list1 list2"
            "list3 list3";
        background-color: #ffffff;

        font-family: 'Montserrat';
        font-style: normal;

        &-title {
            grid-area: title;
            display: flex;
            justify-content: center;

            & h4 {
                font-weight: 600;
                font-size: 30px;
                line-height: 37px;
                text-align: center;
                text-transform: uppercase;
                max-width: 600px;
                color: #081B54;
            }
        }

        &-list1 {
            grid-area: list1;


            & li {
                font-weight: 500;
                font-family: 'Montserrat';
                font-size: 22px;
                line-height: 30px;
                text-transform: uppercase;
                color: #081B54;
                text-decoration-color: #081B54;
            }
        }

        &-list2 {
            grid-area: list2;
            font-weight: 500;
            font-size: 22px;
            line-height: 27px;

            color: #082654;
        }

        &-list3 {
            grid-area: list3;
            background: rgba(142, 209, 252, 0.17);
            border-radius: 25px;
            padding: 100px 20px;
            width: 100%;
            margin-top: 40px;

            &-title {
                text-align: center;
                color: #001339;
                font-weight: 500;
                font-size: 30px;
                line-height: 37px;
                text-align: center;
                text-transform: uppercase;
            }

            &-list {
                margin-top: 40px;

                & li {
                    font-weight: 500;
                    font-family: 'Montserrat';
                    font-size: 22px;
                    line-height: 30px;
                    text-transform: uppercase;
                    color: #081B54;
                    text-decoration-color: #081B54;
                }
            }
        }
    }

    &-page3 {
        background-image: url('../../images/ликвидация/image\ 8.png');
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding: 80px 80px;
        color: #FFFFFF;
        height: max-content;

        &-title {
            text-align: center;
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            text-align: center;
            text-transform: uppercase;
        }

        &-slider {
            display: grid;
            grid-template-columns: minmax(350px, 500px) minmax(400px, 600px);
            justify-content: space-evenly;
            gap: 20px;

            &-text {
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
            }

            &-scroll {
                display: flex;
                justify-content: flex-start;
                gap: 40px;
                min-height: 312px;

                & p {
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 27px;
                }

                & img {
                    width: 15px;
                    height: 15px;
                    margin-top: 40px;
                }

                &-title {
                    display: none;
                }
            }
        }



    }

    &-page4 {
        padding: 80px 80px 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        align-items: center;

        &-box {
            width: 270px;
            height: 170px;
            background: rgba(252, 185, 0, 0.8);
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;

            & p {
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
                text-transform: uppercase;
                padding: 40px;
                color: #081B54;
                padding: 20px;
                text-align: center;
            }
        }
    }

    &-page5 {
        padding: 40px 80px;

        &-title {
            text-align: center;
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            text-align: center;
            text-transform: uppercase;
        }

        &-images {
            padding-top: 40px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            min-height: 380px;
            align-items: center;

            & img {
                height: 100%;
            }
        }
    }

    &-page6 {
        padding: 40px 80px;
        width: 100%;
        display: flex;
        justify-content: center;

        &-form {
            background: rgba(142, 209, 252, 0.17);
            border-radius: 25px;
            width: 100%;
            display: flex;
            padding: 89px 10px;
            justify-content: space-around;
            gap: 20px;
            flex-wrap: wrap;

            & p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 21px;
                line-height: 27px;
                text-align: center;
                max-width: 500px;
                color: #081B54;
            }
        }

        &-btn {
            background: rgba(252, 185, 0, 0.8);
            border-radius: 5px;
            cursor: pointer;
            outline: none;
            border: 0;
            padding: 10px 15px;

            & a {
                color: #001339;
                text-transform: uppercase;
                font-size: 22px;
                line-height: 27px;




            }
        }
    }
}

.header {
    width: 100%;
    height: 116px;
    background-color: #081B54;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    display: grid;
    grid-template-columns: minmax(219px, 300px) minmax(381px, 800px);
    gap: 80px;

    &-logo {
        display: flex;
        align-items: center;
        gap: 9px;
        color: #FFFFFF;
        cursor: pointer;

        & a {}

        & p {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            max-width: 201px;
        }
    }

    &-nav {
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: space-between;


        &-link {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            transition: 0.5s ease-out;
            color: #FFFFFF;
        }
    }

    &-tel {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        /* identical to box height */

        text-transform: uppercase;
        margin-left: 50px;
        color: #FCB900 !important;
    }

    &-burger {
        display: none;
    }
}

.header-nav-link:hover{
    color:#FCB900
}

.footer {
    min-height: 385px;
    width: 100%;
    background-image: url('../../images/ликвидация/image\ 8.png');
    display: grid;
    padding: 100px 80px 80px;;
    grid-template-columns: minmax(263px, 314px) minmax(252px, 318px) minmax(205px, 276px);
    justify-content: space-between;
    gap:20px;

    &-logo {
        cursor: pointer;
        display: flex;
        color: #FFFFFF;
        align-items: center;
        gap: 10px;
        height: max-content;

        & p {

            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;

        }
    }

    &-services {
        display: flex;
        flex-direction: column;
        gap: 25px;
        

        &-title {

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;

            color: #FCB900;
        }

        &-list li {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;

            color: #FFFFFF;
        }
    }

    &-contacts {
        display: flex;
        flex-direction: column;
        gap: 25px;
        
        justify-content: space-between;
        &-map {
            display: grid;
            gap: 10px;
            & a {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                text-transform: lowercase;
                color: #FFFFFF;
            }
        }

        &-icons {
            display: flex;
            justify-content: start;
            gap: 10px;
            & img {
                width: 38px;
                height: 35px;
            }
        }
        & p {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
        }
    }

    &-tel {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        text-transform: uppercase;

        color: #FCB900;
    }
}


@media (max-width:1180px) {
    .header {
        &-logo {
            & p {
                font-size: 18px;
            }
        }

        &-nav {
            gap: 10px;

            &-link {
                font-size: 18px;
            }
        }

        &-tel {
            margin: 0;
            font-size: 18px;
        }
    }
    .footer{
        &-logo{
            gap:5px;
            & p{
                font-size: 18px;
            }
        }
    }
}

@media (max-width:969px) {
    .header {
        gap: 15px;

        &-logo {
            gap: 2px;

            & p {
                font-size: 16px;
                line-height: 18px;
            }
        }

        &-nav {
            &-link {
                font-size: 16px;
            }

        }

        &-tel {
            font-size: 16px;
        }
    }
    .footer{
        grid-template-columns: repeat(auto-fill,314px);
        justify-content: center;
        gap:40px;
        &-services{
            border-bottom: 1px solid #FCB900;
            padding-bottom: 30px;
            &-title{
                text-align: center;
            }
        }
        &-contacts-map{
            border-bottom: 1px solid #FCB900;
            padding-bottom: 30px;
        }
    }
}


@media (max-width:804px) {
    .liquidation {
        &-page1 {
            grid-template-columns: repeat(auto-fill, 300px);

            justify-content: center;
            padding: 40px 20px;

            &-text {

                &-title {
                    font-size: 25px;
                    line-height: 34px;
                    text-align: center;
                }

                &-subtitle {
                    text-align: center;
                }
            }

            &-form {
                &-btn {
                    font-size: 17px;
                }
            }
        }

        &-page2 {
            grid-template-areas:
                "title title"
                "list1 list1"
                "list2 list2"
                "list3 list3";
            grid-template-rows: 150px auto auto;
            gap: 20px;

            &-title h4 {
                font-size: 25px;
                line-height: 34px
            }

            &-list2,
            &-list3-title {
                font-size: 20px;
                line-height: 29px;

            }

            &-list1 li,
            &-list3-list li {
                font-size: 15px;
                line-height: 29px;
            }

            &-list3 {
                padding: 40px 20px;

                &-list {
                    margin-top: 15px;
                }
            }
        }

        &-page3 {
            padding: 40px 20px;

            &-slider {
                grid-template-columns: repeat(auto-fill, 100%);

                justify-content: center;

                gap: 180px;

                &-scroll {
                    margin: 0 auto;

                    gap: 15px;
                    position: relative;
                    display: flex;

                    & p {
                        min-height: 313px;
                    }

                    &-title {
                        display: flex;
                        position: absolute;
                        top: -100px;
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        & h3 {
                            font-weight: 600;
                            font-size: 30px;
                            line-height: 37px;
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }

                }

                &-item {
                    & p {
                        text-align: center;
                        font-size: 17px;
                        line-height: 25px;

                    }
                }
            }
        }

        &-page4 {
            padding: 40px 20px;

            &-box {
                & p {
                    font-size: 18px;
                    line-height: 28px;
                    padding: 20px;
                    text-align: center;
                }
            }
        }

        &-page5 {
            padding: 40px 20px;

            &-images {
                gap: 50px;
                min-height: auto;

                & img {}
            }
        }

        &-page6 {
            padding: 40px 20px;

            &-form {
                padding: 40px 20px;

                & p {
                    font-size: 18px;
                    line-height: 21px;
                }
            }

            &-btn a {
                font-size: 16px;
            }
        }
    }

    .header {
        padding: 20px;
        min-height: 116px;
        height: auto;
        display: block;

        &-nav {
            display: none;
        }

        &-burger {
            display: block;

            &-icon {
                position: absolute;
                top: 30px;
                right: 20px;
                width: 50px;
                height: 50px;


            }

            &-nav {

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 0;
                opacity: 0;
            }
        }
    }

    #toggleMenu {
        width: 30px;
        height: 15px;
        position: relative;

        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;

        & span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #ffffff;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;

        }
    }

    #toggleMenu span:nth-child(1) {
        top: 16px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #toggleMenu span:nth-child(2) {
        top: 25px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #toggleMenu span:nth-child(3) {
        top: 36px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #toggleMenu.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -3px;
        left: 8px;

        top: 17px;
        left: 9px;

    }

    #toggleMenu.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    #toggleMenu.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 39px;
        left: 8px;
    }


    #liquidation-slider-left,
    #liquidation-slider-right {
        position: absolute;
        width: 14px;
        top: -127px;
    }

    #liquidation-slider-left {
        left: 40px;
    }

    #liquidation-slider-right {
        right: 40px;
    }

    .liquidation-page1,
    .liquidation-page2 {
        padding: 80px 20px !important;

    }

}


@media (max-width:604px) {
    .liquidation {
        &-page5 {
            &-images {
                & img {
                    width: 300px;
                    height: auto;
                }
            }
        }
    }

    .liquidation-page1,
    .liquidation-page2,
    .liquidation-page3,
    .liquidation-page4,
    .liquidation-page5 {
        padding: 40px 20px !important;

    }
}





.liquidation-page3-slider-close {
    display: none;
}


.openNav {
    height: auto;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    margin-top: 21px;
}