@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Montserrat;
  /* Гарнитура шрифта */
  src: url(../../font/Montserrat-Light.otf);
  /* Путь к файлу со шрифтом */
}
.liquidation__wrapper {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.liquidation__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.liquidation-page1 {
  min-height: 424px;
  display: grid;
  grid-template-columns: minmax(300px, 580px) minmax(300px, 472px);
  justify-content: space-evenly;
  gap: 20px;
  padding: 0 80px;
  background-image: url("../../images/ликвидация/image 8.png");
  color: #FFFFFF;
  font-family: "Montserrat";
  font-style: normal;
  width: 100%;
  align-items: center;
}
.liquidation-page1-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}
.liquidation-page1-text-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}
.liquidation-page1-text-subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}
.liquidation-page1-form {
  background-color: #FCB900;
  justify-content: center;
  height: 242px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.liquidation-page1-form-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  padding: 0 15px;
  color: #081B54;
}
.liquidation-page1-form-btn {
  background-color: #081B54;
  color: white;
  outline: none;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
}
.liquidation-page2 {
  width: 100%;
  padding: 80px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 40px;
  grid-template-areas: "title title" "list1 list2" "list3 list3";
  background-color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
}
.liquidation-page2-title {
  grid-area: title;
  display: flex;
  justify-content: center;
}
.liquidation-page2-title h4 {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  max-width: 600px;
  color: #081B54;
}
.liquidation-page2-list1 {
  grid-area: list1;
}
.liquidation-page2-list1 li {
  font-weight: 500;
  font-family: "Montserrat";
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #081B54;
  -webkit-text-decoration-color: #081B54;
          text-decoration-color: #081B54;
}
.liquidation-page2-list2 {
  grid-area: list2;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #082654;
}
.liquidation-page2-list3 {
  grid-area: list3;
  background: rgba(142, 209, 252, 0.17);
  border-radius: 25px;
  padding: 100px 20px;
  width: 100%;
  margin-top: 40px;
}
.liquidation-page2-list3-title {
  text-align: center;
  color: #001339;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
}
.liquidation-page2-list3-list {
  margin-top: 40px;
}
.liquidation-page2-list3-list li {
  font-weight: 500;
  font-family: "Montserrat";
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #081B54;
  -webkit-text-decoration-color: #081B54;
          text-decoration-color: #081B54;
}
.liquidation-page3 {
  background-image: url("../../images/ликвидация/image 8.png");
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 80px;
  color: #FFFFFF;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.liquidation-page3-title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
}
.liquidation-page3-slider {
  display: grid;
  grid-template-columns: minmax(350px, 500px) minmax(400px, 600px);
  justify-content: space-evenly;
  gap: 20px;
}
.liquidation-page3-slider-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}
.liquidation-page3-slider-scroll {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  min-height: 312px;
}
.liquidation-page3-slider-scroll p {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}
.liquidation-page3-slider-scroll img {
  width: 15px;
  height: 15px;
  margin-top: 40px;
}
.liquidation-page3-slider-scroll-title {
  display: none;
}
.liquidation-page4 {
  padding: 80px 80px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.liquidation-page4-box {
  width: 270px;
  height: 170px;
  background: rgba(252, 185, 0, 0.8);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.liquidation-page4-box p {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  padding: 40px;
  color: #081B54;
  padding: 20px;
  text-align: center;
}
.liquidation-page5 {
  padding: 40px 80px;
}
.liquidation-page5-title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
}
.liquidation-page5-images {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  min-height: 380px;
  align-items: center;
}
.liquidation-page5-images img {
  height: 100%;
}
.liquidation-page6 {
  padding: 40px 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.liquidation-page6-form {
  background: rgba(142, 209, 252, 0.17);
  border-radius: 25px;
  width: 100%;
  display: flex;
  padding: 89px 10px;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
.liquidation-page6-form p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  text-align: center;
  max-width: 500px;
  color: #081B54;
}
.liquidation-page6-btn {
  background: rgba(252, 185, 0, 0.8);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 10px 15px;
}
.liquidation-page6-btn a {
  color: #001339;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 27px;
}

.header {
  width: 100%;
  height: 116px;
  background-color: #081B54;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  display: grid;
  grid-template-columns: minmax(219px, 300px) minmax(381px, 800px);
  gap: 80px;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 9px;
  color: #FFFFFF;
  cursor: pointer;
}
.header-logo p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  max-width: 201px;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}
.header-nav-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  transition: 0.5s ease-out;
  color: #FFFFFF;
}
.header-tel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  text-transform: uppercase;
  margin-left: 50px;
  color: #FCB900 !important;
}
.header-burger {
  display: none;
}

.header-nav-link:hover {
  color: #FCB900;
}

.footer {
  min-height: 385px;
  width: 100%;
  background-image: url("../../images/ликвидация/image 8.png");
  display: grid;
  padding: 100px 80px 80px;
  grid-template-columns: minmax(263px, 314px) minmax(252px, 318px) minmax(205px, 276px);
  justify-content: space-between;
  gap: 20px;
}
.footer-logo {
  cursor: pointer;
  display: flex;
  color: #FFFFFF;
  align-items: center;
  gap: 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.footer-logo p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
.footer-services {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer-services-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FCB900;
}
.footer-services-list li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
}
.footer-contacts-map {
  display: grid;
  gap: 10px;
}
.footer-contacts-map a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-transform: lowercase;
  color: #FFFFFF;
}
.footer-contacts-icons {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.footer-contacts-icons img {
  width: 38px;
  height: 35px;
}
.footer-contacts p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer-tel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FCB900;
}

@media (max-width: 1180px) {
  .header-logo p {
    font-size: 18px;
  }
  .header-nav {
    gap: 10px;
  }
  .header-nav-link {
    font-size: 18px;
  }
  .header-tel {
    margin: 0;
    font-size: 18px;
  }
  .footer-logo {
    gap: 5px;
  }
  .footer-logo p {
    font-size: 18px;
  }
}
@media (max-width: 969px) {
  .header {
    gap: 15px;
  }
  .header-logo {
    gap: 2px;
  }
  .header-logo p {
    font-size: 16px;
    line-height: 18px;
  }
  .header-nav-link {
    font-size: 16px;
  }
  .header-tel {
    font-size: 16px;
  }
  .footer {
    grid-template-columns: repeat(auto-fill, 314px);
    justify-content: center;
    gap: 40px;
  }
  .footer-services {
    border-bottom: 1px solid #FCB900;
    padding-bottom: 30px;
  }
  .footer-services-title {
    text-align: center;
  }
  .footer-contacts-map {
    border-bottom: 1px solid #FCB900;
    padding-bottom: 30px;
  }
}
@media (max-width: 804px) {
  .liquidation-page1 {
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    padding: 40px 20px;
  }
  .liquidation-page1-text-title {
    font-size: 25px;
    line-height: 34px;
    text-align: center;
  }
  .liquidation-page1-text-subtitle {
    text-align: center;
  }
  .liquidation-page1-form-btn {
    font-size: 17px;
  }
  .liquidation-page2 {
    grid-template-areas: "title title" "list1 list1" "list2 list2" "list3 list3";
    grid-template-rows: 150px auto auto;
    gap: 20px;
  }
  .liquidation-page2-title h4 {
    font-size: 25px;
    line-height: 34px;
  }
  .liquidation-page2-list2, .liquidation-page2-list3-title {
    font-size: 20px;
    line-height: 29px;
  }
  .liquidation-page2-list1 li, .liquidation-page2-list3-list li {
    font-size: 15px;
    line-height: 29px;
  }
  .liquidation-page2-list3 {
    padding: 40px 20px;
  }
  .liquidation-page2-list3-list {
    margin-top: 15px;
  }
  .liquidation-page3 {
    padding: 40px 20px;
  }
  .liquidation-page3-slider {
    grid-template-columns: repeat(auto-fill, 100%);
    justify-content: center;
    gap: 180px;
  }
  .liquidation-page3-slider-scroll {
    margin: 0 auto;
    gap: 15px;
    position: relative;
    display: flex;
  }
  .liquidation-page3-slider-scroll p {
    min-height: 313px;
  }
  .liquidation-page3-slider-scroll-title {
    display: flex;
    position: absolute;
    top: -100px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .liquidation-page3-slider-scroll-title h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
  }
  .liquidation-page3-slider-item p {
    text-align: center;
    font-size: 17px;
    line-height: 25px;
  }
  .liquidation-page4 {
    padding: 40px 20px;
  }
  .liquidation-page4-box p {
    font-size: 18px;
    line-height: 28px;
    padding: 20px;
    text-align: center;
  }
  .liquidation-page5 {
    padding: 40px 20px;
  }
  .liquidation-page5-images {
    gap: 50px;
    min-height: auto;
  }
  .liquidation-page6 {
    padding: 40px 20px;
  }
  .liquidation-page6-form {
    padding: 40px 20px;
  }
  .liquidation-page6-form p {
    font-size: 18px;
    line-height: 21px;
  }
  .liquidation-page6-btn a {
    font-size: 16px;
  }
  .header {
    padding: 20px;
    min-height: 116px;
    height: auto;
    display: block;
  }
  .header-nav {
    display: none;
  }
  .header-burger {
    display: block;
  }
  .header-burger-icon {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 50px;
    height: 50px;
  }
  .header-burger-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 0;
    opacity: 0;
  }
  #toggleMenu {
    width: 30px;
    height: 15px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  #toggleMenu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  #toggleMenu span:nth-child(1) {
    top: 16px;
    transform-origin: left center;
  }
  #toggleMenu span:nth-child(2) {
    top: 25px;
    transform-origin: left center;
  }
  #toggleMenu span:nth-child(3) {
    top: 36px;
    transform-origin: left center;
  }
  #toggleMenu.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
    top: 17px;
    left: 9px;
  }
  #toggleMenu.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  #toggleMenu.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
  }
  #liquidation-slider-left,
#liquidation-slider-right {
    position: absolute;
    width: 14px;
    top: -127px;
  }
  #liquidation-slider-left {
    left: 40px;
  }
  #liquidation-slider-right {
    right: 40px;
  }
  .liquidation-page1,
.liquidation-page2 {
    padding: 80px 20px !important;
  }
}
@media (max-width: 604px) {
  .liquidation-page5-images img {
    width: 300px;
    height: auto;
  }
  .liquidation-page1,
.liquidation-page2,
.liquidation-page3,
.liquidation-page4,
.liquidation-page5 {
    padding: 40px 20px !important;
  }
}
.liquidation-page3-slider-close {
  display: none;
}

.openNav {
  height: auto;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  margin-top: 21px;
}/*# sourceMappingURL=liquidation.css.map */